<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day10_HomeAssignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WelcomePage</display-name>
    <servlet-name>WelcomePage</servlet-name>
    <servlet-class>com.hsbc.web.Q1.WelcomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomePage</servlet-name>
    <url-pattern>/welcomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintMessage</display-name>
    <servlet-name>PrintMessage</servlet-name>
    <servlet-class>com.hsbc.web.Q2.PrintMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintMessage</servlet-name>
    <url-pattern>/printmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallingMethods</display-name>
    <servlet-name>CallingMethods</servlet-name>
    <servlet-class>com.hsbc.web.Q3.CallingMethods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallingMethods</servlet-name>
    <url-pattern>/callingmethods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.hsbc.web.Q4.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
</web-app>